name: Build Clerotri for Android

on:
  push:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Enable Corepack
        run: corepack enable
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'yarn'
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'microsoft'
          cache: 'gradle'
      - name: Install dependencies and prepare assets
        run: yarn install && npx react-native-asset
      - name: Prepare the JS bundle
        run: yarn android-release:bundle
      - name: Build the app
        run: yarn android-release:apk
      - name: Rename release APKs
        run: |
          mv app-arm64-v8a-release.apk Clerotri-${{ github.sha }}-arm64-v8a.apk 
          mv app-armeabi-v7a-release.apk Clerotri-${{ github.sha }}-armeabi-v7a.apk 
          mv app-x86_64-release.apk Clerotri-${{ github.sha }}-x86_64.apk
          mv app-x86-release.apk Clerotri-${{ github.sha }}-x86.apk
        working-directory: /home/runner/work/clerotri/clerotri/android/app/build/outputs/apk/release/
      - name: Upload release APKs
        uses: actions/upload-artifact@v6
        with:
          path: |
            /home/runner/work/clerotri/clerotri/android/app/build/outputs/apk/release/Clerotri-${{ github.sha }}-arm64-v8a.apk 
            /home/runner/work/clerotri/clerotri/android/app/build/outputs/apk/release/Clerotri-${{ github.sha }}-armeabi-v7a.apk 
            /home/runner/work/clerotri/clerotri/android/app/build/outputs/apk/release/Clerotri-${{ github.sha }}-x86_64.apk 
            /home/runner/work/clerotri/clerotri/android/app/build/outputs/apk/release/Clerotri-${{ github.sha }}-x86.apk
